.SavedRequests {
  width: 100vw;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} 

.SavedRequests__wrapper {
  margin: 0 auto;
  border: 1px red dotted;
  padding-top: 60px;
  max-width: 1140px;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: top;
}

.SavedRequests__backButton {
  padding-top: 10px;
}
