/* SEARCH */


.search__wrapper {
  width: 60%;
  margin: 2px auto;
  display: flex;
  grid-template-rows: 1fr 0.1fr;
}

.search__wrapper input {
  width: 90%;
}
.search__wrapper button {
  width: 10%;
}

.form__field {
  padding: 8px;
}

/* SAVE SEARCH */

.SaveSearch {
  width: 60%;
  margin: 2px auto;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.SaveSearch__button {
  color: black;
  padding: 5px 0;
  width: 25%;
  text-align: center; 
  border: 1px solid #eaeaea;
  font-size: 14px;
}

.SaveSearch__button:hover {
  background: #f0f0f0;
  text-decoration: underline;
  transition: 0.3s;
  cursor: pointer;
}


/* RESULTS */
a {
  text-decoration: none;
}

.video {
  border: 1px solid #eaeaea;
  display: flex;
  margin: 30px auto 0 auto;
  width: 80%;
} 

.video__duration {
  position: absolute;
  right: 3px;
  bottom: 2%;
  background-color: black;
  padding: 2px;
  font-size: 14px;
  color: white;
  border-radius: 10%;
}

.video__img {
  position: relative;  
  overflow: hidden;
}

.video__info {
  padding-left: 10px;
  text-align: left;
}

.video__title {
  font-size: 20px;
  padding: 0;
  color: black;
}

.video__data {
  color: #7e7e7e;
  width: 100%;
  display: flex;
  justify-content: left;
  padding: 3px 0;
}

.video__date {
  padding-left: 30px;
}

.video__channel {
  color: #7e7e7e;
  padding-top: 10px; 
  display: flex;
  justify-content: left;
  text-align: center;
}

.video__channelThumbnail {
  width: 30px;
}

.video__channelTitle {
  padding: 3px 10px;
}

.video__channelImg {
  width: 100%;
  border-radius: 100%
}

.video__description {
  color: #7e7e7e;
  font-size: 14px;
}

.SearchResult {
  color: black;
}